{% include 'head.html'%}

<style>
body {
 background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_468984254_67380.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
<!--body{-->
<!--    background-image:linear-gradient(45deg,rgba(230,70,66, 0.5),rgba(150, 255, 255,.5)), url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_468984254_67380.jpg');-->
<!--    background-repeat: no-repeat;-->
<!--    background-size: cover;-->
<!--    }-->
</style>